@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(68, 68, 68);
}
h1 {
    font: normal bold 3em arial, helvetica, sans-serif;
    text-align: center;
    color: white;
}

#image {
    width: 300px;
    display: block;
    margin: auto;
}

div {
    background-color: whitesmoke;
    width: 500px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 15px 15px 10px rgba(47, 47, 47, 0.792);
}

h2 {
    text-align: center;
    font-size: 2em;
}

h3 {
    text-align: center;
    font-size: 1.5em;
}

a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}

a:hover {
    text-decoration: underline;
}

#certificado {
    text-align: center;
}